/* Dark Theme Variables */
/*-- scss:defaults --*/
$font-family-sans-serif: "Times New Roman", Times, "Liberation Serif", "Nimbus Roman No9 L", Georgia, serif !default;
$font-family-base: "Times New Roman", Times, "Liberation Serif", "Nimbus Roman No9 L", Georgia, serif !default;
$headings-font-family: "Times New Roman", Times, "Liberation Serif", "Nimbus Roman No9 L", Georgia, serif !default;

$body-bg: #0B192C !default;
$body-color: #FFFFFF !default;
$primary: #E8D3A2 !default;
$secondary: #8FAEC9 !default;
$card-bg: #182C44 !default;
$card-border-color: #2F4866 !default;
$navbar-bg: #0B192C !default;
$navbar-fg: #FFFFFF !default;
$border-color: #2F4866 !default;

/*-- scss:rules --*/
