/* Light Theme Variables */
/*-- scss:defaults --*/
$font-family-sans-serif: "Times New Roman", Times, "Liberation Serif", "Nimbus Roman No9 L", Georgia, serif !default;
$font-family-base: "Times New Roman", Times, "Liberation Serif", "Nimbus Roman No9 L", Georgia, serif !default;
$headings-font-family: "Times New Roman", Times, "Liberation Serif", "Nimbus Roman No9 L", Georgia, serif !default;

$body-bg: #F9F7F1 !default;
$body-color: #2C2117 !default;
$primary: #7A3E26 !default;
$secondary: #8C6A48 !default;
$card-bg: #EFE8DC !default;
$card-border-color: #D4C5B0 !default;
$navbar-bg: #F9F7F1 !default;
$navbar-fg: #2C2117 !default;
$border-color: #D4C5B0 !default;

/*-- scss:rules --*/
